body {
    background-color: black;
    color: mediumslateblue; 
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: blue;
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

button {
    height: 30px;
    width: 440px;
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: teal;
    font-family: fantasy;
    font-weight: 500;
    font-size: 24px;
    line-height: 10px;
}

#answerbuttons {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {justify-content: center;
align-items: center
;}

#high-scores {


}

#timer {


}